<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JSON 转 markdown 表格</title>

  <style>
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  thead tr {
    background-color: #F8F8F8;
  }

  table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }

  table th {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }
  </style>
</head>
<body>
<div id="app">
  <div style="display: flex; justify-items: center;">
    <textarea id="input" style="display: inline-block;" cols="50" rows="30" v-model="json"></textarea>
    <textarea style="display: inline-block;" cols="50" rows="30" v-model="tableMD"></textarea>
    <div
      v-html="compiledMarkdown"
      style="
      display: inline-block;
      height: 471px;
      box-sizing: border-box;
      padding: 5px;
"
    ></div>
  </div>
  <div>
    <button @click="onConvert">转换</button>
    <div>
      缩进类型：
      <input name="indent_type" value="space" type="radio" v-model="indentType"> 全角空格
      <input name="indent_type" value="table" type="radio" v-model="indentType"> 制表符
      <input name="indent_type" value="dash" type="radio" v-model="indentType"> 短横线
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/marked@0.3.6"></script>
<script>
const sepChar = '.'
const log = console.log
const INDENT_TYPE_KEY = 'indent'

const vm = new Vue({
  el: '#app',
  data: () => ({
    obj: {
      bool: true,
      int: 1,
      decimal: 0.1,
      string: 'hehe',
      array: [1, 2],
      null: null,
      code: '0',
      msg: '获取成功',
      data: {
        list: [
          {
            c_type: 2,
            c_name: '测试活动xxx',
            parsed_media: {
              audio: 'xx',
              images: [
                'https://testimg.iweilingdi.com/upload/Other/d8131413fb5544b6a907ffa370d283c2.png',
              ],
              videos: [],
              test: {
                a: [
                  {
                    b: 3,
                    c: 1,
                    d: null,
                  },
                ],
                b: 1,
              },
            },
          },
          null,
          {
            c_type: 2,
            c_name: '测试活动xxx',
            parsed_media: {
              audio: null,
              images: [],
              videos: [
                {
                  cover: 'https://testimg.iweilingdi.com/upload/Other/d8131413fb5544b6a907ffa370d283c2.png',
                  video: 'https://testimg.iweilingdi.com/upload/Other/d8131413fb5544b6a907ffa370d283c2.png',
                },
                {
                  cover: 'https://testimg.iweilingdi.com/upload/Other/d8131413fb5544b6a907ffa370d283c2.png',
                  video: 'https://testimg.iweilingdi.com/upload/Other/d8131413fb5544b6a907ffa370d283c2.png',
                },
              ],
              test: {
                a: [
                  {
                    b: 3,
                    c: null,
                    d: 1,
                  },
                  {
                    b: null,
                    c: 2,
                    d: 2,
                  },
                ],
                b: null,
              },
            },
          },
          {
            c_type: 2,
            c_name: '测试活动xxx',
            parsed_media: null,
            another: [
              null,
              'hehe',
            ],
          },
        ],
        totalCount: {
          allCount: 19,
          onCount: 0,
          endCount: 11,
        },
      },
      haha: 1,
    },
    json: '',
    tableMD: '',
    indentType: localStorage.getItem(INDENT_TYPE_KEY) || 'space',
  }),
  computed: {
    compiledMarkdown() {
      return marked(this.tableMD, { sanitize: true })
    },
  },
  created() {
    this.json = JSON.stringify(this.obj, null, 2)
  },
  mounted() {
    document.querySelector('#input').select()
  },
  methods: {
    onConvert() {
      let data
      try {
        data = JSON.parse(this.json)
      } catch (e) {
        alert('json 解析错误')
        return
      }

      const flatten = this.flatten(data)
      log(window.t = flatten)

      this.tableMD = '|参数|类型|描述|\n|:-|:-|:-|\n' + this.makeTableBody(flatten)
    },
    makeIndent(level) {
      switch (this.indentType) {
        case 'table':
          return level ? '&nbsp;'.repeat((level - 1) * 5) + '└─ ' : ''
        case 'dash':
          return '—'.repeat(level) + ' '
        case 'space':
        default:
          return level ? '　'.repeat(level - 1) + '└' : ''
      }
    },
    makeTableBody(data) {
      const keys = Object.keys(data)

      let md = ''

      let index = 0
      let prefix = ''

      while (index < keys.length) {
        const key = keys[index]

        if (!key.startsWith(prefix)) {
          prefix = prefix.split(sepChar).slice(0, -2).join(sepChar)
          prefix && (prefix += sepChar)
          continue
        }

        const valType = this.getType(data[key])
        const keyPieces = key.slice(prefix.length).split(sepChar)

        if (keyPieces.length > 1) {
          prefix += keyPieces[0] + sepChar
        } else {
          md += `|${this.makeIndent(key.split(sepChar).length - 1)}${keyPieces[0]}|${valType}|无|\n`
          index++
        }
      }

      return md
    },
    getType(data) {
      if (Number.isInteger(data)) {
        return 'int'
      }

      const p = Object.prototype.toString.call(data).slice(8, -1)
      if (p === 'Number') {
        return 'decimal'
      } else {
        return p.toLowerCase()
      }
    },
    makeKey(keyChain, key) {
      return keyChain ? `${keyChain}${sepChar}${key}` : key
    },
    flatten(data, keyChain = '') {
      let f = {}

      const type = this.getType(data)

      if (type === 'array') {
        keyChain && (f[keyChain] = [])
        // 假设数组中的元素都是一样的类型
        for (let i of data) {
          const valType = this.getType(i)
          if (valType === 'object' || valType === 'array') {
            this.assign(f, this.flatten(i, keyChain))
          }
          // 如果是简单类型，则直接中断，不需要再遍历后面的了。数组中有为 null 的元素，则跳过，去看看其他元素的情况
          else if (valType !== 'null') {
            f = { [keyChain]: [] }
            break
          }
        }
      } else if (type === 'object') {
        keyChain && (f[keyChain] = {})
        Object.keys(data).forEach(key => {
          this.assign(f, this.flatten(data[key], this.makeKey(keyChain, key)))
        })
      } else {
        f = { [keyChain]: data }
      }

      return f
    },
    assign(tar, source) {
      Object.keys(source).forEach(key => {
        if (tar[key] === undefined || tar[key] === null) {
          tar[key] = source[key]
        }
      })
    },
  },
  watch: {
    indentType(newVal) {
      localStorage.setItem(INDENT_TYPE_KEY, newVal)
    },
  },
})
</script>
</body>
</html>
