<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JSON 转 markdown 表格</title>

  <style>
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  thead tr {
    background-color: #F8F8F8;
  }

  table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }

  table th {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }
  </style>
</head>
<body>
<div id="app">
  <div style="display: flex; justify-items: center;">
    <div>
      <div style="height: 50px;">需要转换的 JSON</div>
      <textarea
        ref="input"
        style="display: inline-block; width: 500px; height: 500px;"
        v-model="json"
      ></textarea>
      <div>
        <button @click="onConvert">转换</button>
        <div>
          缩进类型：
          <input name="indent_type" value="space" type="radio" v-model="indentType"> 全角空格
          <input name="indent_type" value="table" type="radio" v-model="indentType"> 制表符
          <input name="indent_type" value="dash" type="radio" v-model="indentType"> 短横线
        </div>
      </div>
    </div>
    <div>
      <div style="width: 500px; height: 50px;">转换的结果。或者旧版本的 markdown 数据，用来提供字段【说明】。需要一致的嵌套层级和缩进类型</div>
      <textarea
        ref="output"
        style="display: inline-block; width: 500px; height: 500px;"
        v-model="tableMD"
        placeholder="填入旧版本 markdown 表格，可自动为新版填充【说明】"
      ></textarea>
    </div>
    <div>
      <div style="height: 50px;">表格预览</div>
      <div
        v-html="compiledMarkdown"
        style="display: inline-block; box-sizing: border-box; padding: 5px; width: 500px;"
      ></div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked@0.3.6/marked.min.js"></script>
<script>
const sepChar = '.'
const log = console.log
const INDENT_TYPE_KEY = 'indent'

const vm = new Vue({
  el: '#app',
  data: () => ({
    obj: {
      bool: true,
      int: 1,
      decimal: 0.1,
      string: 'hehe',
      array: [1, 2],
      null: null,
      code: '0',
      msg: '获取成功',
      data: {
        list: [
          {
            c_type: 2,
            c_name: '测试活动xxx',
            parsed_media: {
              audio: 'xx',
              images: [
                'https://testimg.iweilingdi.com/upload/Other/d8131413fb5544b6a907ffa370d283c2.png',
              ],
              videos: [],
              test: {
                a: [
                  {
                    b: 3,
                    c: 1,
                  },
                ],
                b: 1,
              },
            },
          },
          null,
          {
            c_type: 2,
            c_name: '测试活动xxx',
            parsed_media: {
              audio: null,
              images: [],
              videos: [
                {
                  cover: 'https://testimg.iweilingdi.com/upload/Other/d8131413fb5544b6a907ffa370d283c2.png',
                  video: 'https://testimg.iweilingdi.com/upload/Other/d8131413fb5544b6a907ffa370d283c2.png',
                },
                {
                  cover: 'https://testimg.iweilingdi.com/upload/Other/d8131413fb5544b6a907ffa370d283c2.png',
                  video: 'https://testimg.iweilingdi.com/upload/Other/d8131413fb5544b6a907ffa370d283c2.png',
                },
              ],
              test: {
                a: [
                  {
                    b: 3,
                    d: 1,
                  },
                  {
                    c: 2,
                    d: 2,
                  },
                ],
                b: null,
              },
            },
          },
          {
            c_type: 2,
            c_name: '测试活动xxx',
            parsed_media: null,
            another: [
              null,
              'hehe',
            ],
          },
        ],
        totalCount: {
          allCount: 19,
          onCount: 0,
          endCount: 11,
        },
      },
      haha: 1,
    },
    json: '',
    tableMD: '',
    indentType: localStorage.getItem(INDENT_TYPE_KEY) || 'space',
  }),
  computed: {
    compiledMarkdown() {
      return marked(this.tableMD, { sanitize: true })
    },
  },
  created() {
    this.json = JSON.stringify(this.obj, null, 2)
  },
  mounted() {
    this.$refs.input.select()
  },
  methods: {
    onConvert() {
      let data
      try {
        data = JSON.parse(this.json)
      } catch (e) {
        alert('json 解析错误')
        return
      }

      const flatten = this.flatten(data)
      const grouped = this.group(flatten)
      const remarks = this.parseRemarks(this.tableMD)

      this.tableMD = '|参数|类型|描述|\n|:-|:-|:-|\n' + this.makeTableBody(grouped, remarks)

      this.$nextTick(() => {
        this.$refs.output.select()
        document.execCommand('copy')
        alert('结果已复制')
      })
    },
    makeIndent(level) {
      switch (this.indentType) {
        case 'table':
          return level ? '&nbsp;'.repeat((level - 1) * 5) + '└─ ' : ''
        case 'dash':
          return '—'.repeat(level) + ' '
        case 'space':
        default:
          return level ? '　'.repeat(level - 1) + '└' : ''
      }
    },
    makeTableBody(data, remarks) {
      const keys = Object.keys(data)

      let md = ''

      let index = 0
      let prefix = ''

      while (index < keys.length) {
        const key = keys[index]

        if (!key.startsWith(prefix)) {
          prefix = prefix.split(sepChar).slice(0, -2).join(sepChar)
          prefix && (prefix += sepChar)
          continue
        }

        const valType = this.getType(data[key])
        const keyPieces = key.slice(prefix.length).split(sepChar)

        if (keyPieces.length > 1) {
          prefix += keyPieces[0] + sepChar
        } else {
          const arg = this.makeIndent(key.split(sepChar).length - 1) + keyPieces[0]
          const remark = remarks[arg] || '无'
          md += `|${arg}|${valType}|${remark}|\n`
          index++
        }
      }

      return md
    },
    getType(data) {
      if (Number.isInteger(data)) {
        return 'int'
      }

      const p = Object.prototype.toString.call(data).slice(8, -1)
      if (p === 'Number') {
        return 'decimal'
      } else {
        return p.toLowerCase()
      }
    },
    makeKey(keyChain, key) {
      return keyChain ? `${keyChain}${sepChar}${key}` : key
    },
    flatten(data, keyChain = '') {
      let f = {}

      const type = this.getType(data)

      if (type === 'array') {
        keyChain && (f[keyChain] = [])
        // 假设数组中的元素都是一样的类型
        for (let i of data) {
          const valType = this.getType(i)
          if (valType === 'object' || valType === 'array') {
            this.assign(f, this.flatten(i, keyChain))
          }
          // 如果是简单类型，则直接中断，不需要再遍历后面的了。数组中有为 null 的元素，则跳过，去看看其他元素的情况
          else if (valType !== 'null') {
            f = { [keyChain]: [] }
            break
          }
        }
      } else if (type === 'object') {
        keyChain && (f[keyChain] = {})
        Object.keys(data).forEach(key => {
          this.assign(f, this.flatten(data[key], this.makeKey(keyChain, key)))
        })
      } else {
        f = { [keyChain]: data }
      }

      return f
    },
    assign(tar, source) {
      Object.keys(source).forEach(key => {
        if (tar[key] === undefined || tar[key] === null) {
          tar[key] = source[key]
        }
      })
    },
    group(data) {
      const keys = Object.keys(data)
      const grouped = {}

      const walk = (index, prefix = '') => {
        if (index >= keys.length) {
          return
        }

        const key = keys[index]

        if (!prefix || key.startsWith(prefix + sepChar)) {
          grouped[key] = data[key]
          walk(index + 1, key)
        }
        walk(index + 1, prefix)
      }

      walk(0)

      return grouped
    },
    parseRemarks(md) {
      const remarks = {}
      md
        .split('\n')
        .slice(2)
        .forEach(line => {
          const p = line.split('|').slice(1, -1)
          remarks[p[0]] = p[2]
        })

      return remarks
    },
  },
  watch: {
    indentType(newVal) {
      localStorage.setItem(INDENT_TYPE_KEY, newVal)
    },
  },
})
</script>
</body>
</html>
